{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{% static 'images/favicon.png' %}" rel="icon" />
    <title>CareerCrafter</title>
  </head>
  <body>
    <h1>helo</h1>
    <a href="/login">Login</a>
    <a href="/logout">Logout</a>
    <a href="/account">Account</a>
    <a href="/contactus">Contact Us</a>
    <a href="/interview">Interview</a>
    <a href="/performance">Performance</a>
  </body>
</html>
